@use "@/design-system/colors";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";
@use "@/design-system/shadows";

[data-dropdown-content]{
  position: fixed;
  top: var(--top, 0px);
  left: 0;
  width: 100%;


  z-index: var(--zIndex, 10);

  border-radius: 8px;
  box-shadow: shadows.$lg;
  border: 1px solid colors.$gray-200;
  background: colors.$base-white;
  overflow: hidden;

  &[data-dropdown-state='idle']{
    display: none;
  }

  .title{
    padding: 12px 16px;
    border: 1px solid colors.$gray-iron-100;

    h1{
      @include styles.text-sm;
      @include weights.semibold;
      color: colors.$blue-700;
    }
  }

  .contents{
    padding: 8px 16px;
  }
}
