---
interface Props {
  name: string
  borderRadius?: number
}
const { name, borderRadius = 0 } = Astro.props;
---
<div role="button" style=`border-radius: ${borderRadius}px;` data-dropdown-trigger={name}>
  <slot />
</div>