---
import Icon from "@/elements/Icon.astro";
import type { paths } from "@/elements/icons/paths";

interface Props {
  icons: (keyof typeof paths)[];
}

const { icons } = Astro.props;
---

<div class="icon pairs component">
  {icons.map((icon) => <Icon variant={icon} />)}
</div>
