@use "@/design-system/theme/light" as light-theme;
@use "@/design-system/utils";
@use "@/design-system/colors";
@use "@/design-system/shadows";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

$background: radial-gradient(
    32.34% 28.7% at 51.07% 0%,
    #251452 0%,
    #11213c 38.02%,
    #18181b 100%,
    #18181b 100%
  ),
  radial-gradient(
    111.4% 30.62% at 50.7% 0%,
    #ffffff 0%,
    rgba(117, 68, 255, 0) 46.5%
  );

.hero.component {
  @include utils.full-width-container;

  .inner {
    border-radius: 16px;
    background: $background;
    overflow: hidden;

    .text.content {
      padding: 70px 16px 0;
      max-width: 484px;
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      p.intro {
        @include styles.h3;
        @include styles.font-work-sans;
        color: colors.$base-white;
      }

      p.title {
        @include styles.h1;
        @include styles.font-work-sans;
        color: colors.$base-white;

        span {
          @include utils.clip-gradient;
        }
      }

      p.description {
        @include styles.text-lg;
        @include weights.regular;
        color: colors.$gray-iron-400;
      }
    }

    div.image {
      margin-top: 32px;
      max-width: 100%;
      height: max-content;

      display: flex;
      justify-content: center;
      align-items: end;

      img {
        object-fit: cover;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 0;

    .inner {
      border-radius: 0;

      .text.content {
        padding: 50px 16px 0;

        p.intro {
          @include styles.h3;
        }

        p.title {
          @include styles.h2;
        }

        p.description {
          @include styles.text-md;
          @include weights.regular;
        }
      }

      div.image {
        margin-top: 32px;
      }
    }
  }
}
