@use "@/design-system/theme/light" as light-theme;
@use "@/design-system/utils";
@use "@/design-system/colors";
@use "@/design-system/shadows";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

$background: radial-gradient(
  50% 15.51% at 50% 0%,
  #ffffff 0%,
  #8067c8 40%,
  #3b396f 67.5%,
  #18181b 100%
);

.hero.component {
  @include utils.full-width-container;

  .inner {
    border-radius: 16px;
    background: $background;
    overflow: hidden;
    position: relative;

    .text.content {
      padding: 100px 16px 56px;
      max-width: 484px;
      margin: 0 auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      p.intro {
        @include styles.h3;
        @include styles.font-work-sans;
        color: colors.$base-white;
      }

      .title {
        @include styles.h1;
        @include styles.font-work-sans;
        color: colors.$base-white;

        span {
          @include utils.clip-gradient;
        }
      }

      p.description {
        @include styles.text-lg;
        @include weights.regular;
        color: colors.$gray-iron-400;
      }
    }

    div.image {
      max-width: 100%;
      height: max-content;

      display: flex;
      justify-content: center;
      align-items: end;
      overflow: hidden;

      picture {
        display: flex;
      }

      img {
        object-fit: cover;

        // &[data-size="desktop"] {
        //   display: block;
        // }

        // &[data-size="mobile"] {
        //   display: none;
        // }
      }
    }
  }

  @media (max-width: 767px) {
    padding: 0;

    .inner {
      border-radius: 0;

      .text.content {
        padding: 50px 16px 32px;

        .intro {
          @include styles.h3;
        }

        .title {
          @include styles.h2;
        }

        p.description {
          @include styles.text-md;
          @include weights.regular;
        }
      }

      div.image {
        img {
          transform: scale(1.3);
          transform-origin: top;

          // &[data-size="desktop"] {
          //   display: none;
          // }

          // &[data-size="mobile"] {
          //   display: block;
          // }
        }
      }
    }
  }
}
