@use "@/design-system/colors";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

.input.icon.container{
	position: relative;
	border-radius: 6px;

	&:focus-within{
		outline: 1px solid #116dff;
	}

	.input.wrapper{
		display: flex;
		background-color: colors.$base_white;
		border: 1px solid colors.$gray-iron-300;
		box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
		border-radius: 6px;
	}

	input{
		flex: 1;
		padding: 8px 14px;
		height: 38px;
		@include styles.text-sm;
		@include weights.regular;
		--focus-ring-box-shadow: none;
	}

	input[type="date"]{
		appearance: none;
	    -webkit-appearance: none !important;

		&::-webkit-inner-spin-button,
		&::-webkit-calendar-picker-indicator{
			opacity:0;   
			appearance: none;
    		-webkit-appearance: none;
		}
	}

	.icon{
		margin: 4px 10px 0 0;
		i{
			color: colors.$gray-iron-400;
		}
		svg{
			width: 20px;
			height: 20px;
		}
	}
}