@use "@/design-system/colors";
@use "@/design-system/utils";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";
@use "@/design-system/shadows";

.not.found.container{
	margin-top: 32px;
	margin-bottom: 32px;

	background-color: colors.$gray-iron-900;
	height: 425px;
	border-radius: 16px;

	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;

	@media (max-width: 767px){
		grid-template-columns: 1fr;
	}

	aside.left{
		display: flex;
		justify-content: flex-end;
		@media (max-width: 767px){
			display: none;
		}
	}

	aside.right{
		color: colors.$base-white;
		padding: 32px;
		
		h1.title{
			@include styles.h1;
			span{
				background: linear-gradient(281deg, #007BFF 67.94%, #7443FF 88.22%);
				background-clip: text;
				-webkit-background-clip: text;
  				-webkit-text-fill-color: transparent;
			}

			@media (max-width: 767px){
				@include styles.h2;
				text-align: center;
			}
		}

		p.subtitle{
			@include styles.text-lg;
			margin-top: 8px;
			margin-bottom: 32px;

			@media (max-width: 767px){
				@include styles.text-sm;
				text-align: center;
			}
		}

		button{
			background-color: colors.$blue-600;
			border: 1px solid colors.$blue-600;
			@include styles.text-md;
			@include weights.semibold;
			color: colors.$base-white;
			padding: 10px 18px;
			border-radius: 8px;

			@media (max-width: 767px){
				width: 100%;
			}
		}
	}
}