---

---

<div class="not found container">
  <aside class="left">
	<img src="/assets/404/salute.png" alt="">
  </aside>

  <aside class="right">
	<h1 class="title"><span>404</span> Space Frontier</h1>
	<p class="subtitle">You've reached the ends of the universe. </p>

	<a href="/">
		<button>
			Warp Back to Homepage
		</button>
	</a>
  </aside>
</div>
