@use "@/design-system/theme/light" as light-theme;
@use "@/design-system/utils";
@use "@/design-system/colors";
@use "@/design-system/shadows";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

.background.ellipses {
  z-index: -1;
  position: relative;

  div {
    background-color: colors.$violet-700;
    border-radius: 50%;
    filter: blur(50px);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .small {
    opacity: 0.4;
    width: 876px;
    height: 192px;

    top: 400px;
  }

  .big {
    opacity: 0.1;
    width: 2367px;
    height: 906px;

    top: 406px;
  }

  @media (max-width: 767px) {
    display: none;
  }
}
