---
import CopyButton from "@/components/CopyButton/CopyButton.astro";
import LinkButton from "@/components/LinkButton/LinkButton.astro";
import Icon from "@/elements/Icon.astro";


---
<div id="explorerDetail" class="explorer detail">
  <!-- Breadcrumbs -->

  <div class="explorer breadcrumbs">
    <a class="item" href="/explorer">Explorer</a>
    <Icon variant="chevron-right" />
    <div class="last item">
      Explorer Details
    </div>
  </div>

  <!-- Success badge -->
  <div class="badge success">
    <Icon variant="check-circle" />
    <p>Success</p>
  </div>

  <!-- Contents -->
  <div class="content" data-item="event-detail">
    <h1 class="title">Swap USDT for WETH</h1>
    <p class="detail">0xd8a9ba5444db547c6758a18ae24245d7901156fc19d4a14ba6fb6c41b350ca67</p>
    <a class="goto" href="/">
    View on Etherscan
    <Icon variant="arrow-right" />
    </a>
  </div>

  <div class="content condensed" >
    <h1 class="title">Block</h1>
    <p class="detail" data-item="block-number">-</p>
  </div>

  <div class="content condensed" >
    <h1 class="title">Transaction Action</h1>
    <p class="detail" data-item="transaction-action">Swap 96.869439 USDT for 0.02553788682732604 WETH</p>
  </div>

  <div class="content condensed" >
    <h1 class="title">Age</h1>
    <p class="detail" data-item="age">-</p>
  </div>

  <div class="content condensed" >
    <h1 class="title">From</h1>
    <div class="with actions" data-item="from">
      <p class="detail">-</p>
    </div>
  </div>

  <div class="content condensed" data-item="to">
    <h1 class="title">To</h1>
    <div class="with actions">
      <p class="detail">Protocol (0xB452AC021a1151AAF342c1B75aA914E03e6503b5)</p>
      <CopyButton text="abcd" />
      <LinkButton to="/google.com" />
    </div>
  </div>

  <!-- Details & Table -->
  <div class="details">
    <h1>Details</h1>
    <div class="table">

      <div class="item">
        <aside class="left">
          <p>Event Name</p>
        </aside>
        <aside class="right">
          <div class="badge gray" data-item="event-name">-</div>
        </aside>
      </div>

      <div class="item">
        <aside class="left">
          <p>Id</p>
        </aside>
        <aside class="right">
          <div class="with actions" data-item="id">
            <p>-</p>
          </div>
        </aside>
      </div>

      <div class="item">
        <aside class="left">
          <p>Transaction Hash</p>
        </aside>
        <aside class="right">
          <div class="with actions" data-item="transaction-hash">
            <p>-</p>
          </div>
        </aside>
      </div>

      <div class="item">
        <aside class="left">
          <p>Address</p>
        </aside>
        <aside class="right">
          <div class="with actions" data-item="address">
            <p>-</p>
          </div>
        </aside>
      </div>

      <div class="item">
        <aside class="left">
          <p>Block Number</p>
        </aside>
        <aside class="right">
          <p data-item="block-number">-</p>
        </aside>
      </div>

      <div class="item">
        <aside class="left">
          <p>Block Timestamp</p>
        </aside>
        <aside class="right">
          <p data-item="block-timestamp">-</p>
        </aside>
      </div>

      <div class="item">
        <aside class="left">
          <p>Block Hash</p>
        </aside>
        <aside class="right" data-item="block-hash">
          <p>0xdafea492d9c6733ae3d56b7ed1adb60692c98bc5</p>
        </aside>
      </div>

      <div class="item">
        <aside class="left">
          <p>Network</p>
        </aside>
        <aside class="right" >
          <p data-item="network">-</p>
        </aside>
      </div>

      <div class="item">
        <aside class="left">
          <p>Transaction Sender</p>
        </aside>
        <aside class="right" >
          <div class="with actions" data-item="transaction-sender">
            <p>-</p>
          </div>
        </aside>
      </div>

      <div class="item">
        <aside class="left">
          <p>USDT Amount</p>
        </aside>
        <aside class="right" data-item="usdt-amount">
          <p>96.54567 USDT</p>
        </aside>
      </div>

      <div class="item">
        <aside class="left">
          <p>WETH Amount</p>
        </aside>
        <aside class="right" data-item="weth-amount">
          <p>0.0255436456535 WETH</p>
        </aside>
      </div>

      <div class="item">
        <aside class="left">
          <p>Transaction Fee</p>
        </aside>
        <aside class="right" data-item="transaction-fee">
          <p>0.00024345345646 OKB</p>
        </aside>
      </div>

      <div class="item">
        <aside class="left">
          <p>Gas Price</p>
        </aside>
        <aside class="right" data-item="gas-price">
          <p>0.00000000096301 (9.6301 Gwei)</p>
        </aside>
      </div>

      <div class="item">
        <aside class="left">
          <p>Total Value</p>
        </aside>
        <aside class="right" data-item="total-value">
          <p>$96.69</p>
        </aside>
      </div>

    </div>
  </div>
</div>