---
import BaseLayout from "../layouts/BaseLayout.astro";
import Seo from "../components/Seo.astro";
import styles from "./404.scss?inline";
import "@fontsource/work-sans";
import PageNotFound from "@/components/PageNotFound/PageNotFound.astro";
---

<BaseLayout noFooterNewsletter>
  <Seo
    slot="seo"
    title="404 Space Frontier | StationDEX"
    description="Embark on a Stellar Trading Experience"
    og={{
      image: "/assets/images/meta/og/home.png",
      imageAlt: "StationDEX Open Graph Banner",
    }}
  />

  <div class="full width container">
    <PageNotFound />
  </div>

  <style slot="header" is:inline set:html={styles}></style>

  <Fragment slot="footer">
    <script src="@/scripts/header/nav.js"></script>
    <script src="@/scripts/newsletter/index.js"></script>
  </Fragment>
</BaseLayout>
