@import "../styles/global.scss";

@import "@/components/BgEllipse/BgEllipse.scss";
@import "@/components/Header/Header.scss";
@import "@/components/Header/MobileMenu.scss";
@import "@/components/Footer/Footer.scss";
@import "@/components/Hero/Hero.scss";
@import "@/components/Marquee/Marquee.scss";
@import "@/components/Banner/Banner.scss";

@import "@/modules/Home/Intro.scss";
@import "@/modules/Home/Brands.scss";
@import "@/modules/Home/Secure.scss";
@import "@/modules/Home/Features.scss";
@import "@/modules/Home/Backers.scss";

@import "@/components/ComingSoon/ComingSoon.scss";
