---
import BaseLayout from "../layouts/BaseLayout.astro";
import Seo from "../components/Seo.astro";

import Hero from "@/components/Hero/Hero.astro";
// import Brands from "@/modules/Home/Brands.astro";
import Secure from "@/modules/Home/Secure.astro";
import Features from "@/modules/Home/Features.astro";
import Backers from "@/modules/Home/Backers.astro";

import styles from "./index.scss?inline";
import "@fontsource/work-sans";
import Icon from "@/elements/Icon.astro";
import { headerLinks } from "@/data/nav";
import Banner from "@/components/Banner/Banner.astro";
---

<BaseLayout>
  <Seo
    slot="seo"
    title="StationDEX"
    description="Embark on a Stellar Trading Experience"
    og={{
      image: "/assets/og/home.png",
      imageAlt: "StationDEX Open Graph Banner",
    }}
  />

  <Banner />

  <Hero
    title={[
      { text: "Embark", highlight: true },
      { text: " on a Stellar Trading Experience" },
    ]}
    description="Most Trusted DEX for Swapping Crypto"
    image="/assets/home/swap-image.png"
    imageMobile="/assets/home/swap-image.png"
    video="/assets/home/hero.webm"
    poster="/assets/home/hero.webp"
  >
    <div class="slot">
      <a
        class="launch"
        href={headerLinks.launchApp.path}
        target="_blank"
        rel="noopener noreferrer"
      >
        Swap Now
        <Icon variant="arrow-right" size="lg" />
      </a>
    </div>
  </Hero>

  <!-- <Brands /> -->

  <Secure />

  <Features />

  <Backers />

  <style slot="header" is:inline set:html={styles}></style>

  <Fragment slot="footer">
    <script src="@/scripts/newsletter/index.js"></script>
    <script src="@/scripts/header/nav.js"></script>
    <script src="@/scripts/home/slider.js"></script>
  </Fragment>
</BaseLayout>
