@use "@/design-system/utils";
@use "@/design-system/colors";
@use "@/design-system/shadows";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

.bug.bounties.section {
  padding-bottom: 96px;
  @include utils.full-width-container;

  .inner {
    padding: 96px 96px 56px;
    background-color: colors.$gray-100;
    border-radius: 32px;

    .top {
      .icon.pairs {
        display: flex;
        align-items: center;
  
        & > i:not(:first-child) {
          margin-left: -24px;
        }
      }

      p.heading {
        margin-top: 24px;
        @include styles.h1;
      }

      p.description {
        margin-top: 16px;
        @include styles.display-xs;
        @include weights.medium;
        color: colors.$gray-iron-500;
      }
    }

    hr {
      margin: 56px 0;
      border-top: 1px solid colors.$gray-iron-300;
    }

    .bottom {
      display: flex;
      align-items: center;
      gap: 32px;

      .left,
      .right {
        padding-bottom: 32px;

        .title {
          @include styles.text-xl;
          @include weights.medium;
        }
        
        .description {
          margin-top: 8px;
          @include styles.text-lg;
          @include weights.regular;
        }

        a {
          margin-top: 32px;
          @include styles.text-md;
          @include weights.medium;
          color: colors.$blue-600;

          display: flex;
          align-items: center;
        }
      }
    }
  }
  
}