---
import Icon from "@/elements/Icon.astro";

const img1 = "/assets/home/feature-01.png";
const img2 = "/assets/home/feature-02.png";
const img3 = "/assets/home/feature-03.png";
---

<div class="bug bounties section">
  <div class="inner">
    <div class="top">
      <div class="icon pairs">
        <Icon variant="check-circle-filled" />
        <Icon variant="stationdex-lock" />
      </div>

      <p class="heading">Active Programs</p>
      <p class="description">
        Help us secure our ecosystem and receive compensation. We currently have
        reward programs for vulnerabilities on our website and smart contracts.
        Contributors will be rewarded with appropriate compensation in both
        categories, depending on the intensity of the issues found.
      </p>
    </div>

    <hr />

    <div class="bottom">
      <div class="left">
        <p class="title">Web Bug Bounty</p>
        <p class="description">
          We encourage security researchers to take part in our web bug bounty
          program to find issues in web based systems and earn generous rewards.
          The submission of a valid bug is subject to a reward of up to
          $............ in stablecoins.
        </p>
        <a>
          Learn More
          <Icon variant="chevron-right" />
        </a>
      </div>

      <div class="right">
        <p class="title">Smart Contract Bug Bounty</p>
        <p class="description">
          Independent security researchers and white-hat hackers can take part
          in our smart contract bug bounty program to address issues in our
          protocol's smart contracts. The submission of a valid bug is subject
          to a reward of up to $............ in stablecoins.
        </p>
        <a>
          Learn More
          <Icon variant="chevron-right" />
        </a>
      </div>
    </div>
  </div>
</div>
