@use "@/design-system/utils";
@use "@/design-system/colors";
@use "@/design-system/shadows";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

.bug.bounty.secure {
  .hero.wrapper {
    padding: 56px 0 50px;
  }

  .inner {
    padding: 96px 0;
    @include utils.full-width-container;
  
    display: flex;
    gap: 23px;
  
    .img {    
      img {
        width: 100%;
      }
    }
  
    .text {
      max-width: 610px;
  
      .heading {
        @include styles.h1;
        @include weights.bold;
        color: colors.$black;
      }
      
      .description {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 24px;
  
        p {
          @include styles.text-lg;
          @include weights.regular;
          color: colors.$gray-iron-600;
        }
      }
    }
  }
}