---
interface Props {
  data: { name: string; src: string }[];
}
const { data } = Astro.props;

const t = (x: string): string => x;
---

<div class="ui marquee list">
  <ul class="item">
    {
      data.map((dataItem) => {
        return (
          <li class="dataItem">
            <img src={dataItem.src} alt={t("Image of " + dataItem.name)} />
          </li>
        );
      })
    }
  </ul>
  <ul aria-hidden="true" class="item">
    {
      data.map((dataItem) => {
        return (
          <li class="dataItem">
            <img src={dataItem.src} alt={t("Image of " + dataItem.name)} />
          </li>
        );
      })
    }
  </ul>
</div>
