@use "@/design-system/theme/light" as light-theme;
@use "@/design-system/utils";
@use "@/design-system/colors";
@use "@/design-system/shadows";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

header.site.header {
  z-index: 9;
  width: 100%;
  background-color: rgba(colors.$base-white, 0.8);
  backdrop-filter: blur(8px);

  position: fixed;
  top: 0;

  div.desktop.container {
    @include utils.full-width-container;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    a.logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    nav {
      padding: 24px 32px;
      display: flex;
      gap: 24px;

      a {
        @include styles.text-sm;
        @include weights.regular;
        color: colors.$gray-iron-900;

        &.active {
          @include weights.semibold;
        }

        &[data-style="button"] {
          padding: 6px 10px;
          display: block;
          background-color: colors.$blue-600;
          color: colors.$base-white;
          border-radius: 8px;
          @include weights.semibold;
        }
      }

      ul {
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 32px;
      }

      button.hamburger {
        display: none;
        justify-content: center;
        align-items: center;
        padding: 8px;
        border-radius: 4px;

        &:hover {
          background-color: rgba(colors.$gray-900, 0.1);
        }

        &[data-open="true"] {
          & > i:first-child {
            display: none;
          }
        }

        &[data-open="false"] {
          & > i:not(:first-child) {
            display: none;
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    div.desktop.container {
      nav {
        ul {
          gap: 16px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    div.desktop.container {
      nav {
        padding: 16px 0;

        ul {
          display: none;
        }

        a[data-style="button"] {
          display: none;
        }

        button.hamburger {
          display: flex;
        }
      }
    }
  }
}

.content.offset.mobile {
  width: 100%;
  display: flex;
  height: 80px;

  @media (max-width: 767px) {
    height: 72px;
  }
}
