@use '../_colors';

$name: 'dark';
$is-lightmode: false;
$color-scheme: dark;
$primary-background-color: colors.$black-900;
$color: colors.$white;
$secondary-color: colors.$gray-25;
$tertiary-color: colors.$gray-300;

$hljs-background-color: colors.$gray-iron-900;
$hljs-background-color-hover: colors.$gray-iron-800;
$hljs-border-color: colors.$gray-iron-800;
$hljs-text-color: colors.$indigo-50;
$hljs-string-color: colors.$cyan-200;
$hljs-title-color: colors.$orange-300;
$hljs-meta-color: colors.$blue-400;
$hljs-keyword-color: colors.$orange-dark-300;
$hljs-function-title-color: colors.$purple-300;
$hljs-comment-color: colors.$gray-400;