@use "../colors";

$name: "light";
$is-lightmode: true;
$color-scheme: light;
$primary-background-color: colors.$base-white;
$color: colors.$gray-true-900;
$secondary-color: colors.$gray-600;
$tertiary-color: colors.$gray-600;

$hljs-background-color: colors.$gray-50;
$hljs-background-color-hover: colors.$gray-100;
$hljs-border-color: colors.$gray-200;
$hljs-text-color: colors.$gray-700;
$hljs-string-color: colors.$gray-700;
$hljs-title-color: colors.$warning-800;
$hljs-meta-color: colors.$blue-dark-800;
$hljs-keyword-color: colors.$orange-dark-700;
$hljs-function-title-color: colors.$purple-500;
$hljs-comment-color: colors.$gray-400;
