---
const imgSrc = "/assets/about/map.png";
---

<div class="about the minds">
  <div class="inner">
    <div class="text">
      <p class="heading">The Minds Behind StationDEX</p>

      <p class="description">
        We're a global team of blockchain professionals aligning to the synergy
        of making DeFi more secure and accessible. The team combines years of
        experience in blockchain, Web3, finance, marketing, and business
        development.
      </p>
    </div>

    <div class="img">
      <img src={imgSrc} alt="The Minds Behind StationDEX" />
    </div>
  </div>
</div>
