@use "@/design-system/utils";
@use "@/design-system/colors";
@use "@/design-system/shadows";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

.about.hero.and.why {
  padding: 56px 0;

  .hero.component .inner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .text.content {
      max-width: 80%;

      .description {
        max-width: 75%;
      }
    }
  }

  .why.we.created {
    background-color: colors.$base-white;
    border-radius: 0 0 32px 32px;
    padding: 56px;

    .top {
      p.heading {
        @include styles.h2;
        @include styles.font-work-sans;
      }

      p.description {
        margin-top: 16px;
        @include styles.text-xl;
        @include weights.regular;
        color: colors.$gray-iron-500;
      }
    }

    hr {
      margin: 56px 0;
      border-top: 1px solid colors.$gray-iron-200;
    }

    .bottom {
      display: flex;
      justify-content: space-between;
      gap: 32px;

      .item {
        padding-bottom: 32px;

        display: flex;
        gap: 40px;

        span.number {
          @include styles.text-sm;
          @include weights.regular;
          color: colors.$gray-iron-400;
        }

        p.title {
          @include styles.h3;
          @include styles.font-work-sans;
        }

        p.description {
          margin-top: 16px;
          @include styles.text-lg;
          @include weights.regular;
          color: colors.$gray-iron-600;
        }
      }
    }
  }

  @media (max-width: 767px) {
    padding-top: 0;

    .why.we.created {
      padding: 32px 0;
      background-color: transparent;

      .top {
        p.heading {
          @include styles.h3;
        }

        p.description {
          @include styles.text-lg;
        }
      }

      hr {
        margin: 32px 0;
      }

      .bottom {
        flex-direction: column;
      }
    }
  }
}
