---
import Hero from "@/components/Hero/Hero.astro";
---

<div class="about hero and why">
  <Hero
    title={[
      { text: "The Genesis", highlight: true },
      { text: " of StationDEX" },
    ]}
    description="We're offering a galactic gateway to decentralized trading where innovation meets intuitive design with a focus on efficiency, security, and transparency."
    image="/assets/about/hero.png"
  />

  <div class="full width container">
    <div class="why we created">
      <div class="top">
        <p class="heading">Why We Created StationDEX</p>
        <p class="description">
          It all started with the mission to make decentralized trading more
          secure and with that vision in mind, StationDEX was established. A
          user-centric exchange that ensures seamless coverage for users' funds
          in their Web3 journey.
        </p>
      </div>

      <hr />

      <div class="bottom">
        <div class="item">
          <span class="number">01_</span>
          <div>
            <p class="title">Our Mission</p>
            <p class="description">
              We aim to provide a community-driven DEX that redefines the
              trading experience and enables users to take control of their
              trading journey and shape the future of the platform.
            </p>
          </div>
        </div>

        <div class="item">
          <span class="number">02_</span>
          <div>
            <p class="title">Our Vision</p>
            <p class="description">
              We envision creating a positive impact in the DeFi ecosystem and
              becoming the epitome of decentralized trading by setting new
              security standards, making trading accessible for all, and
              ensuring the growth of the protocol and its users.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
