---
import Icon from "@/elements/Icon.astro";
---

<div class="explorer banner wrapper">
  <div class="banner component">
    <div class="decor left">
      <Icon variant="banner-bar" />
    </div>

    <div class="content">
      <div class="text">
        <div class="title">
          StationDEX Transaction Explorer
        </div>

        <p class="description">
          Track all data transactions and activities within the StationDEX web app.
        </p>
      </div>
    </div>

    <div class="decor right">
      <Icon variant="banner-bar" />
    </div>
  </div>
</div>
