---
import Table from "./Table.astro";
import Stats from "./Stats.astro";
import FilterInputs from "./FilterInputs.astro";
import Banner from "./Banner.astro";
---

<div id="explorerMain" class="explorer main">
  <Banner />
  <Stats />
  <FilterInputs />
  <Table />
</div>
