---
import DropDown from "@/components/DropDown/DropDown.astro";
import DropDownTrigger from "@/components/DropDown/DropDownTrigger.astro";
import InputWithIcon from "@/components/InputWithIcon/InputWithIcon.astro";
---

<div class="filter controls">
  <InputWithIcon
    id="transactionHashSearch"
    name="transactionHashSearch"
    label="Transaction Hash Search"
    placeholder="Txn Hash Search"
    icon="search-lg"
    noLabel
  />

  <DropDownTrigger name="events">
    <InputWithIcon
      id="eventSearch"
      name="eventSearch"
      label="Event Search"
      placeholder="Event Search"
      icon="search-lg"
      noLabel
      readonly
    />
  </DropDownTrigger>
  <DropDown name="events" title="Select Events">
    <div class="available events list" id="eventList"></div>
  </DropDown>

  <InputWithIcon
    id="transactionSenderSearch"
    name="transactionSenderSearch"
    label="From Address Search"
    placeholder="From Address Search"
    icon="search-lg"
    noLabel
  />

  <InputWithIcon
    id="blockSearch"
    name="blockSearch"
    label="Block Search"
    placeholder="Block Search"
    icon="search-lg"
    noLabel
  />

  <DropDownTrigger borderRadius={6} name="date">
    <InputWithIcon
      id="filterDatePlaceholder"
      name="networkSearch"
      label="Filter Date"
      placeholder="Filter Date"
      icon="search-lg"
      icon="calendar"
      readonly
      noLabel
    />
  </DropDownTrigger>
  <DropDown name="date" title="Filter Date">
    <div class="dropdown pickers">
      <InputWithIcon
        id="fromDateSearch"
        name="fromDateSearch"
        label="From Date"
        placeholder="From Date"
        date
      />
  
      <InputWithIcon
        id="toDateSearch"
        name="toDateSearch"
        label="To Date"
        placeholder="To Date"
        date
      />
  
      <button class="apply date filter" data-type="date-apply"> Apply </button>
  
      <button class="clear date filter hidden" data-type="date-clear">
        Clear All
      </button>
    </div>
  </DropDown>

  <DropDownTrigger name="network">
    <InputWithIcon
      id="networkSearch"
      name="networkSearch"
      label="Filter Network"
      placeholder="Filter Network"
      icon="cube-02"
      noLabel
      readonly
    />
  </DropDownTrigger>
  <DropDown name="network" title="Filter Network">
    <div class="checkbox option" role="button">
      <input type="checkbox" checked />
      <span>X Layer Mainnet</span>
    </div>
  </DropDown>

  <DropDownTrigger name="contracts">
    <InputWithIcon
      id="contractSearch"
      name="contractSearch"
      label="Contract Search"
      placeholder="Contract Search"
      icon="search-lg"
      noLabel
      readonly
    />
  </DropDownTrigger>
  

  <DropDown name="contracts" title="Select Contracts">
    <div class="available contract list" id="contractList"></div>
  </DropDown>
</div>