---
import InputWithIcon from "@/components/InputWithIcon/InputWithIcon.astro";
---

<div class="filter controls">
  <InputWithIcon
    id="transactionHashSearch"
    name="transactionHashSearch"
    label="Transaction Hash Search"
    placeholder="Txn Hash Search"
    icon="search-lg"
    noLabel
  />

  <InputWithIcon
    id="eventSearch"
    name="eventSearch"
    label="Event Search"
    placeholder="Event Search"
    icon="search-lg"
    noLabel
  />

  <InputWithIcon
    id="transactionSenderSearch"
    name="transactionSenderSearch"
    label="From Address Search"
    placeholder="From Address Search"
    icon="search-lg"
    noLabel
  />

  <InputWithIcon
    id="blockSearch"
    name="blockSearch"
    label="Block Search"
    placeholder="Block Search"
    icon="search-lg"
    noLabel
  />

  <InputWithIcon
    id="contractSearch"
    name="contractSearch"
    label="Contract Search"
    placeholder="Contract Search"
    icon="search-lg"
    noLabel
  />

  <InputWithIcon
    id="networkSearch"
    name="networkSearch"
    label="Filter Network"
    placeholder="Filter Network"
    icon="search-lg"
    noLabel
  />

  <InputWithIcon
    id="fromDateSearch"
    name="fromDateSearch"
    label="From Date"
    placeholder="From Date"
    date
    icon="calendar"
    noLabel
  />

  <InputWithIcon
    id="toDateSearch"
    name="toDateSearch"
    label="To Date"
    placeholder="To Date"
    date
    icon="calendar"
    noLabel
  />
</div>
