---

---

<div class="stats">
  <div class="item shimmer">
    <p class="title">Transactions</p>
    <p class="value">0</p>
  </div>

  <div class="item shimmer">
    <p class="title">Total Swaps</p>
    <p class="value">0</p>
  </div>

  <div class="item shimmer">
    <p class="title">Total Liquidity Additions</p>
    <p class="value">0</p>
  </div>

  <div class="item shimmer">
    <p class="title">Total Liquidity Removals</p>
    <p class="value">0</p>
  </div>

  <div class="item shimmer last">
    <p class="title">Average Gas Price</p>
    <div class="multi value">
      <p class="value main">0 Gwei</p>
      <div class="changes negative">
        <i></i>
        <p class="value change">0%</p>
      </div>
    </div>
  </div>
</div>
