---
import Icon from "@/elements/Icon.astro";
---

<div class="star finders hero">
  <div class="inner">
    <div class="wrapper">
      <div class="component">
        <div class="content">
          <div>
            <Icon variant="title-shield" className="shield" />

            <h1>
              StationDEX <span>Starfinders Program</span>
            </h1>

            <div class="cta">
              <div class="content">
                <p class="heading">Mission #1</p>
                <p class="description">
                  Collect stars and advance through the leaderboard
                </p>
              </div>

              <div class="links">
                <a
                  href="https://app.stationdex.com/"
                  target="_blank"
                  class="swap"
                >
                <Icon variant="coins-swap-02" size="sm"  />
                  Swap Tokens
                  <Icon variant="arrow-right" size="lg"  />
                </a>
                <a
                  href="https://app.stationdex.com/pools"
                  target="_blank"
                  class="add"
                >
                <Icon variant="coins-hand" size="sm"  />
                  Add Liquidity
                  <Icon variant="arrow-right" size="lg"  />
                </a>
                <a
                  href="https://leaderboard.stationdex.com/"
                  target="_blank"
                  class="view leaderboard"
                >
                  View Leaderboard
                </a>
              </div>
            </div>
          </div>

          <Icon variant="star" className="star left" />
          <Icon variant="star" className="star right" />
        </div>
      </div>
    </div>
  </div>
</div>
