---
import Icon from "@/elements/Icon.astro";
---

<div class="star finders hero">
  <div class="inner">
    <div class="wrapper">
      <div class="component">
        <div class="content">
          <Icon variant="title-shield" className="shield" />

          <h1>
            StationDEX <span>Starfinders Program</span>
          </h1>

          <p>Mission #1</p>

          <div class="cta">
            <button class="swap">Swap Tokens</button>
            <button class="add">Add Liquidity</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
