@use "@/design-system/utils";
@use "@/design-system/colors";
@use "@/design-system/shadows";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

.star.finders.hero {
  background-color: colors.$base-white;
  padding-top: 72px;

  .inner {
    @include utils.full-width-container;

    .wrapper {
      background-color: #1d1c37;
      background-image: url("/assets/star-finders/hero.webp"),
        radial-gradient(circle at top, #a7a5af 0%, #947df0 15%, #1d1c37 50%);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 16px;
      overflow: hidden;
      width: 100%;
      // aspect-ratio: 15 / 8;

      .component {
        padding: 148px 0;
        margin: auto;

        div.mission {
          width: max-content;
          margin: auto;
        }

        .content {
          margin: auto;
          width: max-content;
          position: relative;
          max-width: 100%;

          & > div {
            backdrop-filter: blur(10px);
            padding: 78px 52px 56px;
            border: 1px solid rgba(colors.$yellow-500, 0.07);
            border-radius: 8px;
            padding: 78px 52px 56px;
            position: relative;
            z-index: 1;

            i.shield {
              position: absolute;
              top: 0;
              left: 50%;
              transform: translateY(-50%) translateX(-50%);

              svg {
                height: 72px;
                filter: drop-shadow(0px 4px 26.3px #000000);
              }
            }

            h1 {
              @include styles.h1;
              color: colors.$base-white;
              margin-bottom: 16px;
              @include styles.font-work-sans;
              text-align: center;

              span {
                color: colors.$yellow-400;
              }
            }



            div.cta {
              margin-top: 32px;
              margin-left: auto;
              margin-right: auto;
              display: flex;
              flex-direction: column;
              width: max-content;
              max-width: 100%;
              // justify-content: center;

              p.heading {
                @include styles.text-lg;
                @include weights.semibold;
                color: colors.$base-white;
                text-align: center;
              }
  
              p.description {
                @include styles.text-sm;
                @include weights.regular;
                color: colors.$base-white;
                text-align: center;
                margin-bottom: 8px;
              }

              .links {
                display: flex;
                flex-direction: column;
                gap: 4px;
              }

              a {
                padding: 6px 10px;
                border-radius: 8px;

                @include styles.text-sm;
                @include weights.semibold;
                color: colors.$base-white;

                &.view.leaderboard {
                  background: colors.$blue-600;
                  text-align: center;
                }

                &.swap, &.add {
                  display: flex;
                  align-items: center;

                  > i:first-child {
                    display: inline-flex;
                    margin-right: 2px;
                  }
                  > i:last-child {
                    display: inline-flex;
                    margin-left: auto;
                  }

                  @include weights.regular;
                  color: colors.$blue-400;
                  border: 1px solid colors.$blue-600;

                  padding: 8px 12px;
                  gap: 5px;
                  background: colors.$gray-iron-800;
                  border: 1px solid colors.$gray-iron-700;
                }
              }
            }
          }

          i.star {
            position: absolute;
            top: 25%;
            z-index: 0;

            &.left {
              left: 0;
              transform: translateX(-50%);
            }

            &.right {
              right: 0;
              transform: translateX(50%);
            }
          }
        }

        div.bottom {
          margin-top: 42px;

          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          div.info {
            perspective-origin: 150% 150%;
            perspective: 650px;

            img {
              transform: rotateY(345deg);
              transform-origin: left center;
            }
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    padding-top: 0;
    position: relative;
    top: -1px;

    .inner {
      padding: 0;

      .wrapper {
        border-radius: 0;

        .component {
          padding: 48px 16px 32px;

          .content {
            & > div {
              padding: 58px 16px 16px;

              h1 {
                @include styles.h2;
              }

              div.cta {
                flex-direction: column;

                a {
                  width: 100%;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
