@use "@/design-system/utils";
@use "@/design-system/colors";
@use "@/design-system/shadows";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

.star.allocation.table {
  border: 1px solid colors.$gray-iron-200;
  border-radius: 8px;
  box-shadow: shadows.$lg;
  overflow-x: auto;
  max-width: calc(100vw - 408px);

  table {
    width: 100%;
    min-width: 640px;
    border-collapse: collapse;

    th,
    td {
      padding: 12px 16px;
    }

    thead {
      tr {
        th {
          background-color: colors.$gray-iron-50;
          @include styles.text-sm;
          @include weights.medium;
          color: colors.$gray-iron-500;
        }
      }
    }

    tbody {
      tr {
        td {
          @include styles.text-sm;
          color: colors.$gray-iron-900;

          &.pool > div {
            display: flex;
            align-items: center;
            gap: 16px;

            p {
              @include weights.medium;
            }
          }

          &.action {
            color: colors.$gray-iron-700;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    max-width: calc(100vw - 32px);
  }
}
