@mixin display-2xl {
    font-size: 4.5rem;
    line-height: 5.625rem;
    letter-spacing: -0.02em;
}

@mixin display-xl {
    font-size: 3.75rem;
    line-height: 4.5rem;
    letter-spacing: -0.02em;
}

@mixin display-lg {
    font-size: 3rem;
    line-height: 3.75rem;
    letter-spacing: -0.02em;
}

@mixin display-md {
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: -0.02em;
}

@mixin display-sm {
    font-size: 1.875rem;
    line-height: 2.375rem;
}

@mixin display-xs {
    font-size: 1.5rem;
    line-height: 2rem;
}

@mixin text-xl {
    font-size: 1.25rem;
    line-height: 1.875rem;
}

@mixin text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@mixin text-md {
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@mixin text-xs {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

// heading styles
@mixin h1 {
  font-size: 96px;
  line-height: 112px;
  font-weight: 500;
}

@mixin h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

@mixin h3 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
}

@mixin h4 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 500;
}

@mixin h5 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 500;
}