@use "@/design-system/utils";
@use "@/design-system/colors";
@use "@/design-system/shadows";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

$background: radial-gradient(
  50% 60.51% at 50% 0%,
  #ffffff 0%,
  #8067c8 40%,
  #3b396f 67.5%,
  #18181b 100%
);

.stationdex.backers.section {
  @include utils.full-width-container;
  margin-bottom: 72px;

  .inner {
    border-radius: 16px;
    background: $background;
    overflow: hidden;
    padding: 56px;

    .icon {
      margin: auto;
      width: max-content;

      img {
        width: 72px;
        height: 72px;
      }
    }

    div.text {
      text-align: center;
      margin-top: 24px;

      h2 {
        @include styles.h2;
        color: colors.$base-white;
      }

      p {
        @include styles.text-lg;
        margin-top: 8px;
        color: colors.$gray-iron-400;
      }
    }

    .ui.marquee.list {
      margin-top: 32px;

      .dataItem {
        margin-left: 16px;
        padding: 6px;
        background-color: colors.$gray-iron-800;
        border: 1px solid colors.$gray-iron-700;
        border-radius: 6px;

        width: 224px;
        height: 74px;

        div.nails {
          position: relative;
          padding: 6px 9px;
          width: 100;
          flex: 1;
          display: flex;
          justify-content: center;

          .nail {
            position: absolute;
            width: 3px;
            height: 3px;
            background-color: colors.$gray-iron-400;
            border-radius: 50%;

            &:nth-child(2) {
              top: 0;
              left: 0;
            }

            &:nth-child(3) {
              top: 0;
              right: 0;
            }

            &:nth-child(4) {
              bottom: 0;
              left: 0;
            }

            &:nth-child(5) {
              bottom: 0;
              right: 0;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    margin-bottom: 24px;

    .inner {
      padding: 48px 16px;
    }
  }
}
