---
import Marquee from "@/components/Marquee/Marquee.astro";
---

<div class="home brands marquee">
  <Marquee
    data={[
      { name: "Aave", src: "/assets/home/brands/Aave.png" },
      { name: "Arbitrum", src: "/assets/home/brands/Arbitrum.png" },
      { name: "Avalanche", src: "/assets/home/brands/Avalanche.png" },
      { name: "Balancer", src: "/assets/home/brands/Balancer.png" },
      { name: "BSC", src: "/assets/home/brands/BSC.png" },
      { name: "Curve", src: "/assets/home/brands/Curve.png" },
      { name: "Ethereum", src: "/assets/home/brands/Ethereum.png" },
      { name: "Link", src: "/assets/home/brands/Link.png" },
      { name: "MakerDAO", src: "/assets/home/brands/MakerDAO.png" },
      { name: "Polkadot", src: "/assets/home/brands/Polkadot.png" },
      { name: "Polygon", src: "/assets/home/brands/Polygon.png" },
      { name: "Synthetix", src: "/assets/home/brands/Synthetix.png" },
    ]}
  />
</div>
