@use "@/design-system/utils";
@use "@/design-system/colors";
@use "@/design-system/shadows";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

.home.intro.component {
  padding: 96px 0;
  @include utils.full-width-container;

  display: flex;
  gap: 40px;

  @media (max-width: 767px) {
    padding-top: 32px;
    padding-bottom: 64px;
    flex-direction: column;
    gap: 16px;
  }

  div.left {
    padding-bottom: 16px;

    p {
      @include styles.h1;
      color: colors.$base-black;

      &.heading {
        @include styles.font-work-sans;
      }
    }

    div.socials {
      margin-top: 30px;
      display: flex;
      gap: 24px;

      i {
        color: colors.$gray-true-800;
      }
    }

    @media (max-width: 767px) {
      padding: 0;

      p {
        @include styles.h2;
      }

      div.socials {
        display: none;
      }
    }
  }

  div.right {
    padding: 16px 0;

    p {
      @include styles.text-xl;
      @include weights.regular;
      color: colors.$gray-iron-600;
    }

    a.launch {
      width: max-content;
      display: block;
      margin-top: 24px;
      padding: 12px 20px;
      background-color: colors.$blue-600;
      @include styles.text-sm;
      @include weights.semibold;
      color: colors.$base-white;
      border-radius: 8px;

      &:hover {
        background-color: colors.$blue-700;
      }
    }

    @media (max-width: 767px) {
      padding: 0;

      p {
        @include styles.text-lg;
        @include weights.regular;
      }

      a {
        margin-top: 32px;
        width: 100%;
      }
    }
  }
}

.hero.component {
  padding-top: 96px;

  .inner .text.content {
    max-width: 100%;
  }

  .slot {
    position: absolute;
    bottom: 88px;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;

    a.launch {
      padding: 10px 18px;
      border-radius: 8px;
      background-color: colors.$blue-600;
      @include styles.text-md;
      @include weights.semibold;
      box-shadow: shadows.$lg;
      color: colors.$base-white;

      display: flex;
      align-items: center;
      gap: 8px;

      &:hover {
        background-color: colors.$blue-700;
      }
    }
  }

  @media (max-width: 767px) {
    padding-top: 32px;

    .slot {
      bottom: 32px;
    }
  }
}
