---
const imgSrc = "/assets/home/secure-trading.png";
---

<div class="home secure trading">
  <div class="inner">
    <div class="img">
      <img src={imgSrc} alt="Secure Trading" />
    </div>

    <div class="text">
      <h2 class="heading">Secure Trading for Everyone</h2>

      <hr />

      <div class="description">
        <div class="item">
          <span class="number">01_</span>
          <p>
            <span>No Registration.</span> We value your privacy and security! Skip
            registering with your personal info and engage with the crypto market
            anonymously.
          </p>
        </div>

        <div class="item">
          <span class="number">02_</span>
          <p>
            <span>No Intermediaries.</span> Experience the true power of decentralization—trade
            directly without involving intermediaries, enhancing security, transparency,
            and efficiency.
          </p>
        </div>

        <div class="item">
          <span class="number">03_</span>
          <p>
            <span>No Deposits.</span> We don't take custody of your funds. You maintain 
            full ownership of your funds, while we ensure your peace of mind and
            security.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
