@use "@/design-system/utils";
@use "@/design-system/colors";
@use "@/design-system/shadows";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

.home.secure.trading {
  padding: 96px 0;
  @include utils.full-width-container;

  display: flex;
  gap: 46px;

  .img {    
    img {
      width: 100%;
    }
  }

  .text {
    max-width: 610px;

    .heading {
      @include styles.h1;
      @include weights.bold;
      color: colors.$black;
    }
    
    .description {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      p {
        @include styles.text-lg;
        @include weights.regular;
        color: colors.$gray-iron-600;
  
        span {
          color: colors.$gray-iron-900;
        }
      }
    }
  }

  @media (max-width: 767px) {
    padding-top: 32px;
    padding-bottom: 0;

    flex-direction: column;
    gap: 32px;

    .img {
      width: 100%;
      display: flex;
      justify-content: center;
      
      img {
        max-width: 230px;
      }
    }

    .text {
      .heading {
        @include styles.h3;
      }

      .description {
        gap: 16px;

        p {
          @include styles.text-md;
        }
      }
    }
  }
}