<div class="coming soon">
  <div class="inner">
    <div class="content">
      <img src="/assets/logo-full-white.svg" alt="Stationdex logo" />

      <p class="subheading">Embark on a Stellar Trading Experience</p>

      <p class="heading">Coming Soon</p>

      <div class="newsletter component">
        <form>
          <input type="email" placeholder="Enter your email" required />
          <button type="submit">Notify Me</button>
          <p class="message"></p>
        </form>
      </div>

      <a
        class="launch"
        href="https://app.stationdex.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        Launch App
      </a>
    </div>
  </div>
</div>
