<div class="coming soon">
  <div class="inner">
    <div class="content">
      <img src="/assets/logo-full-white.svg" alt="Stationdex logo" />

      <p class="heading">Coming Soon</p>

      <p class="subheading">Your Gateway to Decentralized Trading</p>

      <div class="newsletter component">
        <form>
          <input type="email" placeholder="Enter your email" required />
          <button type="submit">Notify Me</button>
          <p class="message"></p>
        </form>
      </div>
    </div>
  </div>
</div>
