@use "@/design-system/theme/light" as light-theme;
@use "@/design-system/utils";
@use "@/design-system/colors";
@use "@/design-system/shadows";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

$container-background: radial-gradient(
  50% 12.51% at 50% 0%,
  #ffffff 0%,
  #8067c8 40%,
  #3b396f 67.5%,
  #18181b 100%
);

.coming.soon {
  padding: 56px 0 24px;
  @include utils.full-width-container;

  .inner {
    background-image: url("/assets/coming-soon/stars.png"),
      $container-background;
    background-size: contain;
    padding: 142px 0 196px;
    border-radius: 32px;

    .content {
      text-align: center;
      max-width: 843px;
      margin: 0 auto;

      img {
        color: colors.$gray-100;
        margin: 0 auto;
      }

      .subheading {
        @include styles.text-xl;
        @include weights.regular;
        color: colors.$base-white;
        margin-top: 8px;
      }

      .heading {
        @include styles.h1;
        @include styles.font-work-sans;
        @include weights.semibold;
        color: transparent;
        @include utils.clip-gradient;
        letter-spacing: -0.02em;
        margin-top: 24px;
      }

      form {
        margin: 0 auto;
        margin-top: 56px;
        max-width: max-content;

        display: flex;
        gap: 16px;
        justify-content: center;
        position: relative;

        input,
        button {
          border-radius: 8px;
        }

        input {
          padding: 10px 14px;
          background-color: colors.$base-white;
          @include styles.text-md;
          @include weights.regular;
          width: 300px;
          --focus-ring-box-shadow: 0 0 0 1px #116dff, 0 0 0 3px #fff;
        }

        button {
          padding: 10px 18px;
          background-color: colors.$blue-600;
          @include styles.text-md;
          @include weights.bold;
          color: colors.$base-white;

          &:hover {
            background-color: colors.$blue-700;
          }
        }

        p.message {
          @include styles.text-sm;
          max-width: 100%;
          text-align: left;

          &[data-type="error"] {
            color: colors.$error-300;
          }

          &[data-type="success"] {
            color: colors.$success-300;
          }

          position: absolute;
          top: calc(100% + 8px);
          left: 0;

          &:empty {
            display: none;
          }
        }
      }

      a.launch {
        display: block;
        margin: 0 auto;
        margin-top: 56px;
        width: 100%;
        border: 1px solid colors.$blue-600;
        max-width: 430px;
        padding: 10px 18px;
        border-radius: 8px;
        color: colors.$base-white;
        background-color: colors.$gray-true-900;
      }
    }
  }

  @media (max-width: 767px) {
    padding-top: 24px;
    padding-bottom: 24px;

    .inner {
      padding: 100px 8px 150px;
      height: 80vh;

      .content {
        img {
          width: 100%;
          max-width: 200px;
        }

        .heading {
          @include styles.display-lg;
          display: inline;
        }

        .subheading {
          @include styles.text-lg;
        }

        form {
          margin-top: 92px;
          display: block;
          width: 100%;

          input {
            width: 100%;
          }

          button {
            width: 100%;
            margin-top: 16px;
          }
        }
      }
    }
  }
}
