---
import Icon from "@/elements/Icon.astro";
---

<div class="homepage banner wrapper">
  <div class="banner component">
    <div class="decor left">
      <Icon variant="banner-bar" />
      <Icon variant="banner-arrows" className="arrows" />
    </div>

    <div class="content">
      <div class="text">
        <div class="title">
          New Mission Available: StationDEX <span>Starfinders Program</span>
        </div>

        <p class="description">
          StationDEX has designed a stellar point system program to incentivize
          activity and reward its loyal community, the Stationers.
        </p>
      </div>

      <div class="cta">
        <a class="read" href="/star-finders">
          Read Mission Brief
          <Icon variant="arrow-right" />
        </a>
      </div>
    </div>

    <div class="decor right">
      <Icon variant="banner-arrows" className="arrows" />
      <Icon variant="banner-bar" />
    </div>
  </div>
</div>
