@use "@/design-system/theme/light" as light-theme;
@use "@/design-system/utils";
@use "@/design-system/colors";
@use "@/design-system/shadows";
@use "@/design-system/typography/styles";
@use "@/design-system/typography/weights";

@keyframes multiFadeInLeft {
  0%,
  20% {
    opacity: 0;
    transform: translateX(-7px);
  }

  80%,
  100% {
    opacity: 1;
    transform: translateX(3px);
  }
}

@keyframes multiFadeInRight {
  0%,
  20% {
    opacity: 0;
    transform: scaleX(-1) translateX(-7px);
  }

  80%,
  100% {
    opacity: 1;
    transform: scaleX(-1) translateX(3px);
  }
}

.homepage.banner.wrapper {
  @include utils.full-width-container;
  padding-top: 56px;

  .banner.component {
    background-color: colors.$gray-iron-900;
    position: relative;
    padding: 12px;
    border-radius: 8px;
    z-index: 0;

    display: flex;
    justify-content: space-between;

    .decor {
      flex-shrink: 0;
      display: flex;
      align-items: center;

      .arrows {
        opacity: 0;
      }

      &.left {
        .arrows {
          animation: multiFadeInLeft 0.75s linear 0.25s infinite;
          transform: translateX(-7px);
        }
      }

      &.right {
        .arrows {
          animation: multiFadeInRight 0.75s linear 0.25s infinite;
          transform: translateX(-7px);
        }
      }
    }

    .content {
      flex: 1;

      display: flex;

      .text {
        padding-left: 16px;

        p.title {
          @include styles.text-lg;
          @include weights.medium;
          color: colors.$base-white;

          span {
            color: colors.$yellow-300;
          }
        }

        p.description {
          @include styles.text-sm;
          color: colors.$gray-iron-400;
          max-width: 800px;
        }
      }

      .cta {
        padding: 8px 16px 8px 32px;
        display: flex;
        align-items: center;

        a.read {
          display: flex;
          align-items: center;
          white-space: nowrap;
          gap: 8px;

          padding: 6px 10px;
          border: 1px solid colors.$blue-600;
          border-radius: 8px;
          background-color: colors.$gray-iron-900;

          @include utils.gradient-border-highlight;

          &,
          i {
            @include styles.text-sm;
            @include weights.semibold;
            color: colors.$base-white;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 24px;

    .banner.component {
      .decor {
        display: none;
      }

      .content {
        flex-direction: column;

        .text {
          p.title {
            @include styles.text-md;
          }

          p.description {
            @include styles.text-xs;
          }
        }

        .cta {
          padding: 18px 16px;
          justify-content: center;
        }
      }
    }
  }

  @media (max-width: 479px) {
    .banner.component {
      .content {
        .cta {
          a.read {
            width: 100%;
            justify-content: center;
          }
        }
      }
    }
  }
}
